click==8.1.3
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==2.1.2
# https://stackoverflow.com/questions/72985110/how-to-use-older-version-of-flask-flask-v1-0-2

# Flask==1.0.2

# ImportError: cannot import name 'Markup' from 'jinja2'
# Jinja2==2.10

# ImportError: cannot import name 'soft_unicode' from 'markupsafe'
# markupsafe==2.0.1

# ImportError: cannot import name 'Mapping' from 'collections'
# need to set python 3.9 or earlier!!!

# ImportError: cannot import name 'url_quote' from 'werkzeug.urls'
# Werkzeug==2.1.2